<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/jquery.js"></script>
  <title>Appointment History</title>
</head>
<body>
  <%- include('../partials/navbar-parent') %> 
  <div class="main-block">
    <center><h1>Appointment Histories</h1></center>
    <table class="w3-table-all">
      <thead>
        <th>Appointment ID</th>
        <th>Child</th>
        <th>Tutor</th>
        <th>Course</th>
      </thead>
      <% for(let i = 0; i < r.length; i++) { %> 
        <tr>
          <td><%- r[i].APPOINTMENT_ID %></td>
          <td><%- r[i].SEMAIL %><br><%- r[i].SFNAME %> <%- r[i].SLNAME %></td>
          <td><%- r[i].TEMAIL %><br><%- r[i].TFNAME %> <%- r[i].TLNAME %></td>
          <td><%- r[i].COURSE_NAME %></td>
        </tr>
      <% } %> 
    </table>
    <br>
    <div>
      <center>
        <button onclick="window.history.back()">BACK</button>
      </center>
    </div>
  </div>
</body>
</html>