<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/jquery.js"></script>
  <script src="/javascript/main.js"></script>
  <title>Pay Tutor Sessions</title>
</head>
<body>
  <%- include('../partials/navbar-parent') %> 
  <div class="main-block">
    <div class="data-table">
      <table class="w3-table-all">
        <thead>
          <th>Status</th>
          <th>Amount</th>
          <th>Transaction ID</th>
          <th>Tutor Email</th>
          <th>Child Email</th>
        </thead>
        <% for(let i = 0; i < p.length; i++) { %> 
          <tr data-href="/parent/managepayments?tid=<%- p[i].TRANSACTION_ID %>">
            <td><%- p[i].STATUS %></td>
            <td><%- p[i].AMOUNT %></td>
            <td><%- p[i].TRANSACTION_ID %></td>
            <td><%- p[i].TEMAIL %></td>
            <td><%- p[i].SEMAIL %></td>
          </tr>
        <% } %> 
      </table>
    </div>
    <br>
  </div>
</body>
</html>

<script>
$('tr[data-href]').on("click", function() {
  document.location = $(this).data('href');
});
$('tr[data-href]').hover(function() {
  $(this).css('background-color', '#f05f40');
  $(this).css('cursor', 'pointer');
}, function() {
  $(this).css('background-color', '');
});
</script>