<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/jquery.js"></script>
  <title>See Children</title>
</head>
<body>
  <%- include('../partials/navbar-parent') %> 
  <div class="main-block">
    <div id="removed" class="w3-panel w3-green">
      <h3>Removed student account</h3>
      <p>You have removed the child account.</p>
      <br>
    </div>
    <div>
      <center>
        <h1>See Children Accounts</h1>
      </center>
    </div>
    <div class="data-table">
      <table class="w3-table-all">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Remove</th>
        </thead>
        <% for(let i = 0; i < r.length; i++) { %> 
          <form id="rmc<%- i %>" action="/api/users/parent/removechild?childid=<%- r[i].ACC_NO %>" method="post"></form>
          <tr>
            <td><%- r[i].FNAME %> <%- r[i].LNAME %></td>
            <td><%- r[i].EMAIL %></td>
            <td><button form="rmc<%- i %>" style="font-size: small; padding: 3px 5px;">remove child</button></td>
          </tr>
        <% } %> 
      </table>
    </div>
  </div>
</body>
</html>

<script>
  if(getUrlVarts().removed != null) {
    $('#removed').show(true);
  } else {
    $('#removed').hide(true;)
  }
</script>