<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/javascript/jquery.js"></script>
  <title>Trustworthy Tutors</title>
</head>
<body >

  <!-- Navbar -->
  <%- include("./partials/navbar-main.ejs") %> 

  <!-- Header -->
  <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-white" style="padding:48px">
      <span class="w3-jumbo w3-hide-small">Trustworthy Tutors</span><br>
      <span class="w3-large">You can rely on us</span>
      <p><a href="/register" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Join us for Good Grades</a></p>
    </div> 
  </header>

  <!-- About + Cards -->
  <div class="w3-container w3-light-grey" style="padding:20px 16px">
    <h1 class="w3-center" id="about">Who we are</h1>
    <p class="w3-center w3-large" style="width:75%; margin: auto; padding-bottom: 5%;">
      We are Trustworthy Tutors. We are a group of like minded individuals
      who know the struggles of having classes that you have trouble grasping what is
      being taught in the classroom.We aim to help students find tutors who can help 
      them understand the subject matter and get better grades. We also help bright students 
      who want to make some money , teach others in their free time and get some pocket money.
      They say that if you teach someone , you learn twice , so it is a learning experience for both.
      Whether you have problems with just a chapter , a question or need help throughout the semester,
      we have the solution for you.
      
    </p>

    <h1 class="w3-center" id="ourmission">Our Mission</h1>
    <p class="w3-center w3-large" style="width:75%; margin: auto; padding-bottom: 5%;">
    Our mission is to help college students across the country get better grades as 
    well as understand subject matters on a one-on-one basis. With the pandemic this 
    may be a hard thing but in the future we can integrate video conferencing on our platform
    to make a seamless transition from in person tutoring to virtual tutoring. With this 
    improvement then you can choose to match with tutor anywhere in the country and not just within your
    campus
    </p>
  </div>

    <div class="w3-row-padding" style="margin-top:64px">
      <div class="w3-col l4 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="/assets/emc2.jpeg" alt="math" style="width:100%">
          <div class="w3-container">
            <h3 class="w3-opacity" style="text-align: center;">Math</h3>
            <p>From intro to algebra to Calculus, we have tutors to cover all of your hard problems. We can help you find your x's and y's or help you get through the most difficult partial derivates. One of the most difficult courses to master , with our help you'll be a better student in a jiffy.We cover areas like geometry , linear algebra , arithmetic , calculus . We have tutors on all areas of difficulty level to help you through this rough times.Math is an itimidating subject but it doesnt have to be , does it?</p>
          </div>
        </div>
      </div>


      <div class="w3-col l4 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="/assets/science.jpeg" alt="math" style="width:100%">
          <div class="w3-container">
            <h3 class="w3-opacity" style="text-align: center;">Science</h3>
            <p>How many times have you looked at your new science book and felt a sense of despair . The text seems alien to you. From Physics to chemistry to biology and going as far to space with astronomy, we are help to help you get better at science. For people who are just taking intro level classes because it is mandatory to aspiring astronauts who want to work at NASA , we have tutors who have faced the rigors of this course and are willing to help you understand the subject of nature better.</p>
          </div>
        </div>
      </div>

      <div class="w3-col l4 m6 w3-margin-bottom">
        <div class="w3-card">
          <img src="/assets/programming-icon.jpeg" alt="math" style="width:100%">
          <div class="w3-container">
            <h3 class="w3-opacity" style="text-align: center;">Technology</h3>
            <p>As computer science majors ourselves , we know how intimidating it can be for beginners to go to their first class and see their professors typing stuff in command lines. With a bit of guidance youll be able to traverse your way through binary tress or clear your confusion on Big-O notations. We hope you enjoy this subject as much as we do and work for making this world a better place by coding. Technology covers a huge field and we are positive we can find the right mentor for you </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Statistics -->
  <div id="stats" class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
    <div class="w3-quarter">
      <!-- TODO: Pull these statistics from the database -->
      <span class="w3-xxlarge" style="color: white"><%- i[2].ROWS %></span>
      <br><p style="color: white">Courses</p>
    </div>
    <div class="w3-quarter">
      <span class="w3-xxlarge" style="color: white"><%- i[1].ROWS %></span>
      <br><p style="color: white">Tutors</p>
    </div>
    <div class="w3-quarter">
      <span class="w3-xxlarge" style="color: white"><%- i[0].ROWS %></span>
      <br><p style="color: white">Students</p>
    </div>
    <div class="w3-quarter">
      <span class="w3-xxlarge" style="color: white"><%- i[3].ROWS %></span>
      <br><p style="color: white">Appointments</p>
    </div>
  </div>
  <br><br>

  <!-- Contact Form -->
  <div class="w3-container  w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i>Russellville, AR<br>
        <i class="fa fa-phone" style="width:30px"></i>Phone: +555 555 555<br>
        <i class="fa fa-envelope" style="width:30px"></i>Email: twt.trustworthytutor@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form id="contactForm">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input id="nameTB" class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input id="email" class="w3-input w3-border" type="email" placeholder="Email" required name="Email">
            </div>
          </div>
          <input id="messageBox" class="w3-input w3-border" type="text" minlength="5" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" onclick="sendEmail()">SEND</button>
        </form>
      </div>
    </div>
  </div>


</body>
</html>

<script>
  document.getElementById('contactForm').addEventListener("click", function(e) {
    e.preventDefault();
  })
  async function sendEmail() {
    fetch('/sendemail', {
      method: 'post',
      headers: { 'Content-Type': 'application/json'},
      body: JSON.stringify({
        Email: $('#email').val(),
        Name: $('#nameTB').val(),
        Message: $('#messageBox').val()
      })
    }).then(res => {
      if(res.status == 200) {
        console.log(res.data);
        alert('Mail sent!')
        document.getElementById('contactForm').reset();
      } else {
        alert('Mail not send')
      }
    })
  }
</script>

<style>

  body ,h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
  }
    
  body, html {
    height: 100%;
    display: contents;
    background-color: white;
    justify-content: space-around;
  }

  /* image header */
  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/assets/people-woman-coffee-meeting.jpg");
    min-height: 100%;
  }

  .w3-bar .w3-button {
    padding : 16px;
  }

</style>
