<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/jquery.js"></script>
  <title>Document</title>
</head>
<body>
  <%- include('../partials/navbar-tutor') %> 
  <div class="main-block">
    <center><h1>Appointment History</h1></center>
    <div class="data-table">
      <table class="w3-table-all">
        <thead>
          <tr>
            <th style="text-align: center;">Status</th>
            <th style= "text-align: center;">Appointment ID</th>
            <th style= "text-align: center;">Course</th>
            <th style= "text-align: center;">Student</th>
          </tr>
        </thead>
        <% for( let i = 0; i < apt.length; i++ ) { %>
          <tr>
            <% if (apt[i].status == 'FINISHED') { %>
              <td style= "text-align: center; color: green;">FINISHED</td>
            <% } else if (apt[i].status == 'CANCELLED') { %>
              <td style= "text-align: center; color: red;">CANCELLED</td>
            <% } %> 
            <td style= "text-align: center;"><%- apt[i].APPOINTMENT_ID %></td>
            <td style= "text-align: center;"><%- apt[i].COURSE %></td>
            <td style= "text-align: center;"><%- apt[i].FNAME %> <%- apt[i].LNAME %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
</body>
</html>