<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Income</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/jquery.js"></script>
</head>
<body>
  <%- include('../partials/navbar-tutor') %> 
  <div class="main-block">
    <div><h2 style="text-align: center;">Payments</h2></div>
    <div class="data-table">
      <table class="w3-table-all">
        <thead>
          <th style="text-align: center;">Status</th>
          <th style="text-align: center;">Amount</th>
          <th style="text-align: center;">Transaction ID</th>
          <th style="text-align: center;">Customer</th>
        </thead>
        <% for(let i = 0; i < transactions.length; i++) { %> 
          <tr data-href="/tutor/income?details=<%- transactions[i].TRANSACTION_ID %> ">
            <!-- * PAID STATUS -->
            <% if (transactions[i].STATUS == 'PAID') { %>
              <td style="color: green; text-align: center;">PAID</td>
            <% } else %>
              <td style="color: red; text-align: center;">NOT PAID</td>
            <!-- * AMOUNT -->
            <td style="text-align: center;">$ <%- transactions[i].AMOUNT %></td>
            <!-- * TRANSACTION ID -->
            <td style="text-align: center;"><%- transactions[i].TRANSACTION_ID %></td>
            <!-- * Cusomter (student) -->
            <td style="text-align: center;"><%- transactions[i].FNAME %> <%- transactions[i].LNAME %></td>
          </tr>
        <% } %> 
      </table>
    </div>
  </div>
</body>
</html>

<script>
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
  });
  $('tr[data-href]').hover(function() {
    $(this).css('background-color', '#f05f40');
    $(this).css('cursor', 'pointer');
  }, function() {
    $(this).css('background-color', '');
  });
</script>