<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/javascript/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
  <title>Course View</title>
</head>
<body>
  <%- include("../partials/navbar-student.ejs") %> 
  <div class="main-block" style="min-width: 500px;">
    <!-- * MESSAGE SENT -->
    <div id="msgSentAlert" onclick="msgSentAlertClose()">
      <div class="w3-panel w3-green"">
        <h3>Success!</h3>
        <p>Message was sent!</p>
      </div>
    </div> 
     
    <!-- * APPOINTMENT REQUESTED -->
    <div id="appReq" onclick="appReqClose()">
      <div class="w3-panel w3-green"">
        <h3>You have requested a tutor session!</h3>
        <p>There is where you wait for <%- course.FNAME %> <%- course.LNAME %>'s reponse!</p>
        <br>
      </div>
    </div> 
    <div>
      <span style="text-align: center;"><h2><%- course.FNAME %> <%- course.LNAME %></h2></span>
      <span style="text-align: center;"><h3><%- course.COURSE_NAME %></h3></span>
      <span style="text-align: center;"><h4><%- course.EMAIL %></h4></span>
      <div style="text-align: center;">
        <img src="/assets/defaultProfilePic.png" alt="profilepic" srcset="">
      </div>
      <br>
      <div id="bio" style="text-align: center;">
        <%- course.BIO %>
      </div>
      <br>
      <div style="text-align: center;">
        <span>
          <button id="msgBtn" type="button" onclick="toggleMsgBox()">Message</button>
        </span>
        <span>
          <button id="appReqBtn" type="button" onclick="toggleAptBox()">Schedule Session</button>
        </span>
      </div>
    </div>
    <!-- * Send message form -->
    <form action="/api/users/student/sendMessage?cid=<%- course.COURSE_ID %>" method="post">
      <div id="msgBox" style="text-align: center;">
        <textarea name="studentMessage" id="" cols="30" rows="5" placeholder="Your message" style="resize: none;" required minlength="6"></textarea>
        <div>
          <br>
          <button type="button" id="cancelBtn" onclick="toggleMsgBox()">Cancel</button>
          <button id="sendBtn">Send</button>
        </div>
      </div>
    </form>
    <!-- * end msg form -->
    <!-- * Appointment Form -->
    <form action="/api/users/student/scheduleappointment?cid=<%- course.COURSE_ID %>" method="POST" id="appointmentForm">
      <div style="text-align: center;">
        <input type="date" name="appointmentdate" id="appointmentdate" required>
        <input type="time" name="appointmenttime" id="appointmenttime" required value="06:00">
        <br>
        <br>
        <div>
          <button id="appCancel" type="button" onclick="toggleAptBox()">Cancel</button>
          <button id="appSbmtBtn" type="submit">Request</button>
        </div>
      </div>
    </form>
    <!-- * end appointment form -->
  </div>
</body>
</html>

<script>
  $('#msgBox').hide(true);
  $('#msgSentAlert').hide(true);
  $('#appReq').hide(true);
  $('#appointmentForm').hide(true);
  function toggleMsgBox() {
    $("#msgBox").toggle();
    $("#msgBtn").toggle();
    $('#appReqBtn').toggle();
  }
  if(getUrlVars().messageSent) {
    $('#msgSentAlert').show(true);
  }
  if(getUrlVars().appReq) {
    $('#appReq').show(true);
  }
  function msgSentAlertClose() {
    $('#msgSentAlert').hide(true);
  }

  function appReqClose() {
    $('#appReq').hide(true)
  }

  function toggleAptBox() {
    $('#appointmentForm').toggle();
    $('#appReqBtn').toggle();
    $('#msgBtn').toggle();
  }
</script>

<style>

  a {
    text-decoration: none;
  }

</style>