<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/javascript/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
  <title>Course View</title>
</head>
<body>
  <%- include("../partials/navbar-student") %> 
  <div class="main-block">
    <div>
      <span style="text-align: center;"><h2><%- course.FNAME %> <%- course.LNAME %></h2></span>
      <span style="text-align: center;"><h3><%- course.COURSE_NAME %></h3></span>
      <span style="text-align: center;"><h4><%- course.EMAIL %></h4></span>
      <div style="text-align: center;">
        <img src="/assets/defaultProfilePic.png" alt="profilepic" srcset="">
      </div>
      <br>
      <div id="bio" style="text-align: center;">
        <%- course.BIO %>
      </div>
      <br>
      <div style="text-align: center;">
        <button id="msgBtn" type="submit" onclick="toggleMsgBox()">Message</button>
      </div>
    </div>
    <form action="/api/users/student/sendMessage?cid=<%- course.COURSE_ID %>" method="post">
      <div id="msgBox" style="text-align: center;">
        <textarea name="studentMessage" id="" cols="30" rows="5" placeholder="Your message" style="resize: none;" required minlength="6"></textarea>
        <div>
          <br>
          <button type="button" id="cancelBtn" onclick="toggleMsgBox()">Cancel</button>
          <button id="sendBtn">Send</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>

<script>
  $('#msgBox').hide(true);
  function toggleMsgBox() {
    $("#msgBox").toggle();
    $("#msgBtn").toggle();
  }
  if(getUrlVars().messageSent) {
    alert('Message Sent!')
  }
</script>

<style>
  a {
    text-decoration: none;
  }

</style>