<!DOCTYPE html>
<html>
  <head>
    <title>Manage Payments</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascript/jquery.js"></script>
  </head>
  <body>
    <%- include("../partials/navbar-student") %> 
    <div class="main-block">
      <center>
        <div>
          <h1><span class="fa fa-money"></span> Manage Payments</h1>
        </div>
      </center>

      <div style="overflow-y: auto; max-height: 500px;">
        <table class="w3-table-all">
          <thead>
            <tr>
              <th style="text-align: center;">Status</th>
              <th style="text-align: center;">Amount</th>
              <th style="text-align: center;">Transaction ID</th>
              <th style="text-align: center;">Tutor</th>
            </tr>
          </thead>
          <% for( let i = 0; i < p.length; i++ ) { %>
            <tr data-href="/student/managepayments?details=<%- p[i].TRANSACTION_ID %>">
              <!-- * Status -->
              <% if (p[i].STATUS == 'PAID') { %>
                <td style="text-align: center; color:green;">PAID</td>
              <% } else { %>
                <td style="text-align: center; color: red;">NOT PAID</td>
              <% } %> 
              <!-- Amount -->
              <td style="text-align: center;"><%- p[i].AMOUNT %> </td>
              <td style="text-align: center;"><%- p[i].TRANSACTION_ID %> </td>
              <td style="text-align: center;"><%- p[i].FNAME %> <%- p[i].LNAME %></td>
            </tr>
          <% } %>
        </table>
      </div>
      <br>
      <center><button onclick="window.history.back()">BACK</button></center>
    </div>
  </body>
</html>

<script>
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
  });
  $('tr[data-href]').hover(function() {
    $(this).css('background-color', '#f05f40');
    $(this).css('cursor', 'pointer');
  }, function() {
    $(this).css('background-color', '');
  });
</script>

<style>
  th {
    font-size: large;
  }
</style>