<!DOCTYPE html>
<html>
  <head>
    <title>View Scheduled Appointments </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascript/jquery.js"></script>
  </head>
<body>
  <%- include("../partials/navbar-student") %> 
  <div class="main-block">

    <h1><i class="fa fa-calendar"></i> View Scheduled Appointments</h1>
      <div style="overflow-y: auto; max-height: 500px;">
        <table class="w3-table-all">
          <thead>
            <tr>
              <th>STATUS</th>
              <th>COURSE</th>
              <th>TUTOR</th>
              <th>APPOINTMENT TIME</th>
            </tr>
          </thead>
          <% for( let i = 0; i < apts.length; i++ ) { %>
            <tr data-href="/student/appointmentdetails?aptid=<%- apts[i].APPOINTMENT_ID %>">
              <% if (apts[i].STATUS == 'PENDING') { %>
                <td style="color: orange;">PENDING</td>
              <% } else if(apts[i].STATUS == 'REJECTED') {%>
                <td style="color: red;">REJECTED</td>
              <% } else if(apts[i].STATUS == 'ACCEPTED') {%>
                <td style="color: green;">ACCEPTED</td>
              <% } else if(apt[i].STATUS == 'CANCELLED') {%>
                <td style="text-align: center; color: red;">CANCELLED</td>
              <% } else {%>
                <td style="color: crimson;">UI ERROR</td>
              <% } %> 
              <td id="course" name="course"><%- apts[i].COURSE_NAME %></td>
              <td id="tutor" name="tutor"><%- apts[i].EMAIL %> </td>
              <td id="date" name="date"><%- apts[i].APPOINTMENT_TIME %> <%- apts[i].APPOINTMENT_DATE %> </td>
            </tr>
          <% } %>
        </table>
      </div>

  </div>
</body>
</html>

<script>
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
  });
  $('tr[data-href]').hover(function() {
    $(this).css('background-color', '#f05f40');
    $(this).css('cursor', 'pointer');
  }, function() {
    $(this).css('background-color', '');
  });
</script>

<style>
  th {
    font-size: large;
  }
</style>